@font-face {
    font-family: Bandeins Strange;
    src: url(./fonts/bandeins-strange-variable.ttf);
}

body {
    font-family: Bandeins Strange;
    font-size: 3.8rem;
    line-height: 1.5;

    background-color: #000000;
    color: #ffffff;
    margin: 50vh 2.5rem 2.5rem 2.5rem;
}

h1 {

    position: fixed;
    top: 5rem;
    left: 5rem;
    z-index: 1;
}

nav {
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 1;
}

a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 1.8rem;
    font-variation-settings: "wght" 100, "wdth" 100;
    transition: font-variation-settings .2s;
}

a:hover {
    font-variation-settings: "wght" 900, "wdth" 200;
}

img {
    width: 100%;
    height: calc(100vh - 5rem);
    object-fit: cover;
    position: sticky;
    top: 2.5rem;
}